<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<main class="p-5 bg-blur text-center">
    <h1 class="text-light border-bottom">Add Film</h1>
    <div class="d-flex justify-content-center">
        <form th:action="@{/films/create}" method="POST" th:object="${filmBindingModel}"
              class="text-light">
            <div class="form-row m-5">
                <div class="col">
                    <label for="title">Film title</label>
                    <input id="title" type="text" th:field="*{title}" th:errorclass="is-invalid" class="form-control" placeholder="Title">
                    <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="form-text bg-danger rounded">Error</small>
                </div>
                <div class="col">
                    <label for="imgUrl">Image Url</label>
                    <input id="imgUrl"  th:field="*{imgUrl}"
                           th:errorclass="is-invalid" type="text" class="form-control" placeholder="Image Url">
                    <small th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}" id="imageUrlError" class="form-text bg-danger rounded">Error</small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="yearOfRelease">Year Of Release</label>
                    <input id="yearOfRelease" th:field="*{yearOfRelease}"
                           th:errorclass="is-invalid" type="number" class="form-control" placeholder="Year Of Release">
                    <small th:if="${#fields.hasErrors('yearOfRelease')}" th:errors="*{yearOfRelease}" id="yearError" class="form-text bg-danger rounded">Error</small>
                </div>

                <div class="col">
                    <label for="genres">Genres</label>
                    <input id="genres" th:field="*{genres}"
                           th:errorclass="is-invalid" type="text" class="form-control" placeholder="Genres">
                    <small th:if="${#fields.hasErrors('genres')}" th:errors="*{genres}" id="genresError" class="form-text bg-danger rounded">Error</small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="actors">Actors</label>
                    <input id="actors" th:field="*{actors}"
                           th:errorclass="is-invalid" type="text" class="form-control" placeholder="Actors">
                    <small th:if="${#fields.hasErrors('actors')}" th:errors="*{actors}" id="actorsError" class="form-text bg-danger rounded">Error</small>
                </div>
                <div class="col">
                    <label for="rating">Rating</label>
                    <input id="rating" type="number" th:field="*{rating}"
                           th:errorclass="is-invalid" class="form-control" placeholder="Rating">
                    <small th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="form-text bg-danger rounded">Error</small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="description">Description</label>
                    <textarea id="description" th:field="*{description}"
                              th:errorclass="is-invalid" type="text" class="form-control" placeholder="Description"></textarea>
                    <small  th:if="${#fields.hasErrors('description')}" th:errors="*{description}" id="descriptionError" class="form-text bg-danger rounded">Error</small>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50" type="submit">Add New Film</button>
            </div>
        </form>
    </div>
</main>
<footer class="footer bg-blur" th:replace="fragments/commons :: footer">
</footer>
</body>
</html>
