<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<main class="p-5 align-content-center bg-blur">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4" th:each="a : ${actors}" th:object="${a}">
                    <div class="card rounded mb-4 shadow-sm">
                        <img
                                class="card-img-top"
                                width="175" height="175"
                                th:src="@{a.pictureUrl}"
                        />
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{name}" >Name</h5>
                            <p class="card-text" th:text="'Date of Birth ' + *{birthday} " >Price</p>
                        </div>
                        <div class="card-footer">
                            <a th:href="@{/meals/{id}(id=${a.getId()})}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<footer class="footer bg-blur" th:replace="fragments/commons :: footer">
</footer>
</body>
</html>