<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<main class="p-5 align-content-center bg-blur">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6" th:each="a : ${actors}" th:object="${a}">
                    <div class="card rounded mb-4 shadow-sm">
                        <img th:if="${a.getPictureUrl() != null}"
                                class="card-img-top"
                                width="175" height="175"
                                th:src="${a.pictureUrl}"
                        />
                        <img th:unless="${a.getPictureUrl() != null}"
                                class="card-img-top"
                                width="175" height="175"
                                th:src="@{/images/noimgac.jpg}"
                        />
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{name}" >Name</h5>
                            <th:block th:if="${a.getBirthday() != null}">
                            <p class="card-text" th:text="'Date of Birth :' + *{birthday} " >Date</p>
                            </th:block>
                        </div>
                        <div class="card-footer">
                            <a th:href="@{/actors/full-info/{id}(id=${a.getId()})}" class="btn btn-primary">Full Details</a>
                            <a th:href="@{/actors/edit/{id}(id=${a.getId()})}" class="btn btn-primary">Edit</a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/actors/delete/{id}(id=${a.getId()})}"
                               class="btn btn-primary">Delete</a>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</main>
<footer class="footer bg-blur" th:replace="fragments/commons :: footer">
</footer>
</body>
</html>